<div class="main">
    <div id="3d-container" class="canvas-container"></div>
    <div id="2d-container" class="canvas-container"></div>
</div>

<h2>Opacity</h2>
<mat-slider [max]="1" [min]="0" [step]="0.1" [thumbLabel]="true" [(ngModel)]="opacityValue" (change)="setOpacity($event)"></mat-slider>

<h2>Brightness</h2>
<mat-slider [max]="1" [min]="0" [step]="0.1" [thumbLabel]="true" [(ngModel)]="brightnessValue" (change)="setBrightness($event)"></mat-slider>

<h2>Z Cut</h2>
<mat-slider [max]="1" [min]="0" [step]="0.1" [thumbLabel]="true" [(ngModel)]="zcutValue" (change)="setZCut($event)"></mat-slider>

<h2>Quality</h2>
<mat-slider [max]="1000" [min]="0" [step]="100" [thumbLabel]="true" [(ngModel)]="qualityValue" (change)="setQuality($event)"></mat-slider>